<div class="row">
  <div class="col-3">
    <img src="assets/images/pixogram.png" alt="LOGO" width="150px" height="150px">
  </div>
  <div class="col-6 mt-5 text-center">
    <ul class="nav nav-pills justify-content-center">
      <li class="nav-item">
        <a href="#" class="nav-link btn-outline-primary"><b>Upload Media</b></a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link btn-outline-primary"><b>Media</b> </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link btn-outline-primary"><b>Followers/Following</b></a>
      </li>        
      </ul>   
  </div>
  <div class="col-3 mt-5">
    <ul class="nav nav-pills justify-content-right">
      <li><a href="#" class="nav-link btn-primary"><b>Account</b></a></li>
    </ul>
  </div>
</div>