
    <h2 class="mt-2 mx-auto text-center">Register</h2>
    <form class="ml-5">
        <div class="form-group row">
            <label for="horizontalInputfname" class="col-sm-3 col-form-label"><b>Firstname</b></label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="horizontalInputfname" placeholder="First Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="horizontalInputlname" class="col-sm-3 col-form-label"><b>Lastname</b></label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="horizontalInputlname" placeholder="Last Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="horizontalInputuname" class="col-sm-3 col-form-label"><b>Username</b></label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="horizontalInputuname" placeholder="User Name">
            </div>
            <div class="col-sm-2">
                <button type="button" id="checkun" class="btn-info"><b>Check</b></button>
            </div>
        </div>
        <div class="form-group row">
            <label for="horizontalInputEmail" class="col-sm-3 col-form-label"><b>Email</b></label>
            <div class="col-sm-7">
                <input type="email" class="form-control" id="horizontalInputEmail" placeholder="Email">
            </div>
        </div>
        <div class="form-group row">
            <label for="horizontalInputPassword" class="col-sm-3 col-form-label"><b>Password</b></label>
            <div class="col-sm-7">
                <input type="password" class="form-control" id="horizontalInputPassword" placeholder="Password">
            </div>
        </div>
        <div class="form-group row">
            <label for="horizontalpassword1" class="col-sm-3 col-form-label"><b>Repeat Password</b> </label>
            <div class="col-sm-7">
                <input type="password" class="form-control" id="horizontalpassword1" placeholder="Repeat password">
            </div>
        </div>
        <div class="form-group row">
            <label for="horizontalprofile" class="col-sm-3 col-form-label"><b>Profile Picture</b> </label>
            <div class="col-sm-7">
                <input type="file" class="form-control" id="horizontalprofile" placeholder="">
            </div>
        </div>
        <div class="form-group row">
        <div class="offset-sm-5 col-sm-7">
            <button type="submit" class="btn btn-success">Register</button>
        </div>
        </div>
    </form>

