<div>
    <input type="button" value="Add Media" [routerLink]="['/media-add']"/>
        <table class="table">
          <thead>
            <th>Sn</th>
            <th>Name</th>
            <th>Title</th>
            <th>Description</th>
            <th>Tags</th>
          </thead>
          <tbody>
            <tr *ngFor="let media of mediafiles; let i = index">
              <td>{{i+1}}</td>
              <td>{{media.Name}}</td>
              <td>{{media.Title}}</td>
              <td>{{media.Description}}</td>
              <td>{{media.Tags}}</td>
              <td><input type="button" value="Update media" (click)="updateMedia(media.id)"/></td>
              <td><input type="button" value="Delete media" (click)="deleteMedia(media.id)"/></td>
            </tr>
          </tbody>
        </table>
      
    

</div>
